<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{Root}}/favicon.ico">
    <title>{{App.FullTitle}}</title>
    <link rel="stylesheet" type="text/css" href="{{Root}}/css/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{Root}}/css/Bootstrap/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{Root}}/css/bundle.css">
    <link href="{{Root}}/css/bundle.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Deep Example</a>
            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" role="form">
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            </div>
        </div>
    </div>
    {% block home %}{% endblock %}
    <div class="container">
        <section class="content-wrapper main-content clear-fix">
            {% if flashMessages %}
            <div class="flash-messages">
                {% for Message in FlashMessages %}
                <div class="flash-message alert alert-{{Message.MessageType}}" role="alert">
                    {{Message.Text}}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% block content %}{% endblock %}
        </section>
        <hr>
        <footer>
            <p>&copy; Deep {{ActualYear}}</p>
        </footer>
    </div>
    <script src="{{Root}}/js/jquery-1.10.2.min.js"></script>
    <script src="{{Root}}/js/bootstrap.min.js"></script>
</body>
</html>